.bookmark {
    z-index: 10;
    width: 94px;
    height: 94px;
    background-color: var(--dark-bg);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: background-color .3s;
    color: #fff;
    font-size: 28px;
}

.bookmark:hover {
    background-color: #00000070;
}

.icon {
    width: 44px;
    height: auto;
    max-height: 60px;
}