.options {
    top: 0;
    right: 0;
    position: absolute;
    padding: 30px;
    width: 400px;
    height: 100vh;
    z-index: 100;
    background-color: #fff;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    animation: show-options .5s;
}

@keyframes show-options {
    from {
        right: -400px;
    }

    to {
       right: 0;
    }
}

.option {
    display: flex;
    align-items: center;
}

.option label {
    margin-right: 16px;
}

.close {
    color: #fff;
    position: absolute;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #0000009e;
    bottom: 10px;
	right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
    cursor: pointer;
}

.close:hover {
    background-color: #00000080;
}